.App {
  margin-left: 20px;
}

h1 {
  font-size: 50px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.header {
  display: inline-block; 
  width: 100%;
}
.filters {
  float: right;
  margin-right: 25px;
}
.todo-status {
  float: left;
}